body {
    background-image: url("/images/LOTR.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
table, th, td {
    border: 2.5px solid black;
    border-collapse: collapse;
}